@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap");
@import "reset.css";
@import "valuable.css";

/* COMPONENTS */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "screens/header-icons.css";
@import "screens/keyboard.css";

/* INDEX */
@import "screens/index-bg.css";
@import "screens/index-header.css";
@import "screens/index-login.css";
/* FRIENDS */
@import "screens/friends-bg.css";
@import "screens/friends-screen.css";
/* CHATS */
@import "screens/chats-screen.css";
@import "screens/chat.css";
@import "screens/chat-ani.css";
/* FIND */
@import "screens/find-screen.css";
/* SETTINGS */
@import "screens/settings-screen.css";
/* SET */
@import "screens/set-screen.css";

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#mobile {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  font-size: 25px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0px 0px 50px;
  box-sizing: border-box;
}
#mobile span {
  margin-bottom: 20px;
}

@media screen and (max-width: 550px) {
  #mobile {
    display: none;
  }
}
