@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap");
@import "reset.css";
@import "valuable.css";

/* COMPONENTS */
@import "components/status-bar.css";
@import "components/nav-bar.css";

/* INDEX */
@import "screens/index-bg.css";
@import "screens/index-header.css";
@import "screens/index-login.css";
/* FRIENDS */
@import "screens/friends-bg.css";
@import "screens/friends-screen.css";

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
