.friends-screen {
  margin: 0px 15px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px 0px;
  box-sizing: border-box;
}

/* Profile-row */
.profile {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
}

/* Profile_1st Column */
.profile_pic_lg {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin-right: 10px;
}
.profile_pic {
  height: 48px;
  width: 48px;
  border-radius: 7px;
  margin-right: 10px;
}
/* Profile_2nd Column */
.profile_col_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile_col_content_name-lg {
  font-size: 20px;
  font-weight: 600;
}
.profile_col_content_name {
  font-size: 19px;
  font-weight: 400;
}

.profile_col_content_text {
  margin-top: 7px;
  font-size: 15px;
  opacity: 0.9;
}
/* Profile_3rd Column */

/* Components */
.h-line_f {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding: 5px 0px;
  box-sizing: border-box;
  margin-bottom: 13px;
  opacity: 0.7;
}

.chev-up_f {
  height: 15px;
}
