/* STATUSBAR AND BG */
.status-bar-b {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
}

.friends-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--m-red);
  box-shadow: inset 0 0 50px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

/* MAIN */
.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 50px 0px 20px;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
