@keyframes appear {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.index-header {
  padding: 90px 20px 0px;
  display: flex;
  animation: disappear 10.5s ease-in-out forwards;
}
.index-header_b {
  padding: 4px 20px 0px;
  display: flex;
  animation: disappear 10.5s ease-in-out forwards;
}

/* ACCESSING TO... */
#a {
  animation: appear 6s ease-in-out forwards;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
#b {
  animation: appear 6.15s ease-in-out forwards;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
#c {
  animation: appear 6.3s ease-in-out forwards;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
#d {
  animation: appear 6.45s ease-in-out forwards;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
#e {
  animation: appear 6.6s ease-in-out forwards;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
#f {
  animation: appear 6.75s ease-in-out forwards;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
#g {
  animation: appear 6.9s ease-in-out forwards;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
#h {
  animation: appear 7.5s ease-in-out forwards;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
  margin-left: 10px;
}
#i {
  animation: appear 7.7s ease-in-out forwards;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
#j {
  animation: appear 7.9s ease-in-out forwards;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
#k {
  animation: appear 8.1s ease-in-out forwards;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
.dot-st {
  animation: appear 8.7s ease-in-out forwards;
  margin: 0px 2px;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
.dot-nd {
  animation: appear 9.2s ease-in-out forwards;
  margin: 0px 2px;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
.dot-rd {
  animation: appear 9.5s ease-in-out forwards;
  margin: 0px 2px;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
/* MARVEL-LINE */
.index-title {
  animation: appear 15s ease-in-out forwards;
  display: flex;
  padding: 0px 15px;
}
.index-header_marvel {
  font-size: 45px;
  font-weight: 700;
  padding: 0px 2px;
  color: var(--m-red);
  background-color: white;
}
.index-header_line {
  font-size: 45px;
  font-weight: 600;
  margin-left: 8px;
  color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#aa {
  animation: appear 13s ease-in-out forwards;
  position: absolute;
  top: 90px;
  left: 20px;
}

#ab {
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
