/* INITIAL-BG */
.bg-first {
  background: url("https://lh3.googleusercontent.com/YT-6DMimVVUh_vCsd3C1lAA73gxzAiLcVt5OsKCTvv_LGKV9vuw7dGODZ8AJN6vBqFPNwSON4tR6JGTr9nIlp_l0tvVJRh53jJIpYLxu2qLWFWsUVaftFGWej_FKbQMUYEyyQOP6KiQrSMysvq7ybGdbCkZpY8XtO2LDFBZJhUnJxGThsnzT2QE0jADjlJJb6zEmZLbc-7XwuDZb_90wl8aCFRPBTzyzmXlxiTYEnXL0-FLHFuRfwJy7Teanj6dmJeTXxhTvuLBgCI_jkB6eTaIIx9FSlf6tIvWA3EyVwaTIYWvV1cYbWBIFvGuz8Vs--naeZqQo2AId7GGXXMyhqDahYBKaLpaFTuBTZXxEubOMxDNZrjYwd_oxbmWYm7E_o6wt0IRQdp5A2Es8Fse9VigkUQ_uqHJ-4T8d7c32WnsNswuCeK9bzklpcD9mkTi9a3jJ7khHsmdMF0mq6V1wxP4mM0VzXAtkzLKlIragiSC8VNp5i3BKgRzwY6jv2CiwbI0jO58pqp2el3KNQqIZBH8dPTmQKyEoOZ-kvDV-GQySS-eI90C_OovKi61epxaEru0IrGfODHV4bOY6hw_pOkhRBzdrwe5IKH25XuT18X16DQo4Vhp91rvkhVkhmjcoUQoip_CMNY5zAVnroWG6sOYiz72SGDeNLw0xgiMYF4POkL2Q1dqTBMWD_5X7bg=w770-h1275-no?authuser=1");
  background-size: cover;
  height: 100%;
  width: 100%;
}

@keyframes spider-fly {
  from {
    transform: translate(-600px, 900px);
    width: 30%;
  }
  70% {
    transform: translate(100px, 0px);
    width: 100%;
  }
  100% {
    transform: translate(-600px, 500px);
    width: 200%;
  }
}

.bg-second {
  position: fixed;
  top: 0px;
  will-change: auto;
  animation: spider-fly 5s ease forwards;
}

/* REAL-BG */
@keyframes get-bigger {
  0% {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
  87% {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
    box-shadow: inset 0 0 50px black;
  }
}

.index_screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100vh;
}
.bg-third {
  position: absolute;
  background-color: var(--m-red);
  animation: get-bigger 4s linear forwards;
  will-change: auto;
}
