.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.nav-bg {
  padding: 0px 20px;
  width: 80%;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
}

.nav-icon {
  height: 90px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.nav-icon_b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.nav-icon-find {
  height: 40px;
}

.nav-icon-more {
  height: 40px;
}

.nav-friends,
.nav-chats,
.nav-find,
.nav-settings {
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid black;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-icon_b:hover {
  transform: scale(0.9, 0.9);
}

.nav-friends:hover,
.nav-chats:hover,
.nav-find:hover,
.nav-settings:hover {
  transform: scale(1.3, 1.3);
}

li {
  position: relative;
}

@keyframes noti-a {
  from {
    transform: none;
  }
  50% {
    transform: translateY(-10px) rotateY(360deg);
  }
  to {
    transform: none;
  }
}

#chat-noti {
  z-index: 3;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 35px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  font-weight: 600;
  animation: noti-a 1.5s ease-in-out infinite;
}

#more-noti {
  z-index: 3;
  display: block;
  position: absolute;
  top: 10px;
  left: 50px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: tomato;
  font-weight: 600;
}
